<PageTitle>Find Services</PageTitle>


<!-- Services -->
<div class="image_bg_section6 mad_section">
    <div class="container">
        <h2 class="main_title">
            One Call <span>Can</span> Solve All <span>Your</span> House
            Problems <br />
            <b>800 2345 - 6789</b>
        </h2>
        <div class="grid_list">
            <div class="row">
                <div class="col-sm-3 col-xs-4">
                    <a href="#" class="service_item">
                        <figure>
                            <img src="images/serv_img_1.jpg" alt="" />
                            <figcaption>
                                <h4 class="serv_icon1">electrical</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <a href="#" class="service_item">
                        <figure>
                            <img src="images/serv_img_2.jpg" alt="" />
                            <figcaption>
                                <h4 class="serv_icon2">plumbing</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <a href="#" class="service_item">
                        <figure>
                            <img src="images/serv_img_3.jpg" alt="" />
                            <figcaption>
                                <h4 class="serv_icon3">carpentry</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <a href="#" class="service_item">
                        <figure>
                            <img src="images/serv_img_4.jpg" alt="" />
                            <figcaption>
                                <h4 class="serv_icon4">painting</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <a href="#" class="service_item">
                        <figure>
                            <img src="images/serv_img_5.jpg" alt="" />
                            <figcaption>
                                <h4 class="serv_icon5">renovation</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <a href="#" class="service_item">
                        <figure>
                            <img src="images/serv_img_6.jpg" alt="" />
                            <figcaption>
                                <h4 class="serv_icon6">heating</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <a href="#" class="service_item">
                        <figure>
                            <img src="images/serv_img_7.jpg" alt="" />
                            <figcaption>
                                <h4 class="serv_icon7">roofing</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-4">
                    <a href="#" class="service_item">
                        <figure>
                            <img src="images/serv_img_8.jpg" alt="" />
                            <figcaption>
                                <h4 class="serv_icon8">flooring</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <a href="#" class="button type2 size2">
                <span>
                    <span>All Services</span><span>All Services</span>
                </span>
            </a>
        </div>
    </div>
</div>

<!-- Our Standarts -->
<div class="list_with_icons">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <ul>
                    <li class="icon_users">
                        <h5>Over 15 Years Experience</h5>
                        <p>
                            We combine quality workmanship, superior
                            knowledge and low prices to provide you with
                            service unmatched by our competitors.
                        </p>
                    </li>
                    <li class="icon_heart">
                        <h5>Best Materials</h5>
                        <p>
                            We have the experience, personnel and resources
                            to make the project run sommthly. We can ensure
                            a job is done on time.
                        </p>
                    </li>
                    <li class="icon_thumb">
                        <h5>Professional Standards</h5>
                        <p>
                            Work with us involve a carefully planned series
                            of steps, centered around a schedule we stick
                            to and daily communication.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Our Projects -->
<div class="mad_section_bg1">
    <div class="container extra">
        <div class="container">
            <h3 class="main_title">our latest projects</h3>
            <p class="align_center mad_bottom">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis congue nisl non eros scelerisque elementum. Nullam
                elementum molestie libero. Donec <br />
                iaculis, neque in sollicitudin blandit, ex dolor
                hendrerit turpis, at pellentesque ante metus cursus
                mauris.
            </p>
        </div>
        <div class="tabs_sort">
            <div id="options">
                <div id="filters"
                     class="button-group js-radio-button-group">
                    <button class="is-checked" data-filter="*">
                        all
                    </button>
                    /
                    <button data-filter=".Category_2">bathrooms</button>
                    /
                    <button data-filter=".Category_3">builder</button> /
                    <button data-filter=".Category_4">extensions</button>
                    /
                    <button data-filter=".Category_5">
                        refurbishment
                    </button>
                </div>
            </div>

            <div class="isotope clearfix"
                 data-isotope-options='{"itemSelector" : ".item","layoutMode" : "masonry","transitionDuration":"0.7s","masonry" : {"columnWidth":".item"}}'>
                <div class="item Category_2">
                    <figure>
                        <img src="images/portfolio_img5.jpg" alt="" />

                        <figcaption>
                            <div class="caption_block">
                                <div class="item_desc">
                                    <a href="#">Category 2</a>
                                    <h4>ROOFING FIXES</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Duis
                                        congue nisl non eros scelerisque
                                        elementum.
                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="item Category_1">
                    <figure>
                        <img src="images/portfolio_img17.jpg" alt="" />

                        <figcaption>
                            <div class="caption_block">
                                <div class="item_desc">
                                    <a href="#">Category 1</a>
                                    <h4>ROOFING FIXES</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Duis
                                        congue nisl non eros scelerisque
                                        elementum.
                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="item Category_2">
                    <figure>
                        <img src="images/portfolio_img18.jpg" alt="" />

                        <figcaption>
                            <div class="caption_block">
                                <div class="item_desc">
                                    <a href="#">Category 2</a>
                                    <h4>ROOFING FIXES</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Duis
                                        congue nisl non eros scelerisque
                                        elementum.
                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="item Category_3">
                    <figure>
                        <img src="images/portfolio_img19.jpg" alt="" />

                        <figcaption>
                            <div class="caption_block">
                                <div class="item_desc">
                                    <a href="#">Category 3</a>
                                    <h4>ROOFING FIXES</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Duis
                                        congue nisl non eros scelerisque
                                        elementum.
                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="item Category_4">
                    <figure>
                        <img src="images/portfolio_img20.jpg" alt="" />

                        <figcaption>
                            <div class="caption_block">
                                <div class="item_desc">
                                    <a href="#">Category 4</a>
                                    <h4>ROOFING FIXES</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Duis
                                        congue nisl non eros scelerisque
                                        elementum.
                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="item Category_2">
                    <figure>
                        <img src="images/portfolio_img21.jpg" alt="" />

                        <figcaption>
                            <div class="caption_block">
                                <div class="item_desc">
                                    <a href="#">Category 2</a>
                                    <h4>ROOFING FIXES</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Duis
                                        congue nisl non eros scelerisque
                                        elementum.
                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="item Category_4">
                    <figure>
                        <img src="images/portfolio_img22.jpg" alt="" />

                        <figcaption>
                            <div class="caption_block">
                                <div class="item_desc">
                                    <a href="#">Category 4</a>
                                    <h4>ROOFING FIXES</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Duis
                                        congue nisl non eros scelerisque
                                        elementum.
                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="item Category_5">
                    <figure>
                        <img src="images/portfolio_img23.jpg" alt="" />

                        <figcaption>
                            <div class="caption_block">
                                <div class="item_desc">
                                    <a href="#">Category 5</a>
                                    <h4>ROOFING FIXES</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Duis
                                        congue nisl non eros scelerisque
                                        elementum.
                                    </p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our info -->
<div class="mad_section">
    <div class="container">
        <h3 class="main_title">Our Advantages</h3>
        <div class="info_block type2">
            <div class="row">
                <ul>
                    <li class="col-sm-4">
                        <div class="info_icon icon_certificat"></div>
                        <div class="info_text">
                            <h5>Certification</h5>
                            <p>
                                Our handymen are certified and highly
                                experienced professionals.
                            </p>
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="info_icon icon_price"></div>
                        <div class="info_text">
                            <h5>Best Prices</h5>
                            <p>
                                We aren’t cheapest, but we won’t ruin your
                                wallet either. We promise!
                            </p>
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="info_icon icon_phone"></div>
                        <div class="info_text">
                            <h5>24/7 Support</h5>
                            <p>
                                Having a hard time with your toilet in the
                                middle of the night. Call Us!
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Our Clients -->
<div class="image_bg_section7 mad_section">
    <div class="container">
        <h2 class="main_title">our happy clients</h2>

        <!-- Carousel -->
        <div class="carousel_type_4 with_thumbs">
            <div class="owl-carousel"
                 data-max-items="1"
                 data-autoplay="true">
                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="row">
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                I was very happy with the work done. He's a
                                super great guy. He went the extra mile and
                                I couldn't be happier.
                                <div class="author_info">
                                    - <b>Garett Meos</b>, New Jersey
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                They were great to work with and we were
                                pleased with their effort, crafting and the
                                product they delivered.
                                <div class="author_info">
                                    - <b>John Membership</b>, Denver
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                Just a quick note to let you know how very
                                pleased I am with the work your men
                                performed today.
                                <div class="author_info">
                                    - <b>Jameson Family</b>, California
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->
                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="row">
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                I was very happy with the work done. He's a
                                super great guy. He went the extra mile and
                                I couldn't be happier.
                                <div class="author_info">
                                    - <b>Garett Meos</b>, New Jersey
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                They were great to work with and we were
                                pleased with their effort, crafting and the
                                product they delivered.
                                <div class="author_info">
                                    - <b>John Membership</b>, Denver
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                Just a quick note to let you know how very
                                pleased I am with the work your men
                                performed today.
                                <div class="author_info">
                                    - <b>Jameson Family</b>, California
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- /Carousel Item -->
                </div>

                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="row">
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                I was very happy with the work done. He's a
                                super great guy. He went the extra mile and
                                I couldn't be happier.
                                <div class="author_info">
                                    - <b>Garett Meos</b>, New Jersey
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                They were great to work with and we were
                                pleased with their effort, crafting and the
                                product they delivered.
                                <div class="author_info">
                                    - <b>John Membership</b>, Denver
                                </div>
                            </blockquote>
                        </div>
                        <div class="col-sm-4">
                            <blockquote class="var3">
                                Just a quick note to let you know how very
                                pleased I am with the work your men
                                performed today.
                                <div class="author_info">
                                    - <b>Jameson Family</b>, California
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- /Carousel Item -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact us -->
<div class="mad_section">
    <div class="contact_holder">
        <div class="container">
            <h2 class="main_title">get in touch</h2>
            <form class="contact_form var2">
                <ul>
                    <li>
                        <label>Name</label>
                        <input type="text" placeholder="Frist & Last" />
                    </li>
                    <li>
                        <label>Phone</label>
                        <input type="text" placeholder="(012) xxx xxxx" />
                    </li>
                    <li>
                        <label>Description of required work</label>
                        <div class="custom_select">
                            <div class="select_title">Electrical</div>
                            <ul id="menu_type" class="select_list"></ul>
                            <select class="d_none">
                                <option value="menu">Option 1</option>
                                <option value="menu">Option 2</option>
                                <option value="menu">Option 3</option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <textarea placeholder="Please specifiy..."></textarea>
                    </li>
                    <li>
                        <label>When do you need this work done?</label>
                        <input type="text" placeholder="Next week...?" />
                    </li>
                    <li>
                        <label>Full address</label>
                        <input type="text"
                               placeholder="City, Floor, ZIP Code..." />
                    </li>
                    <li>
                        <label>Message</label>
                        <textarea placeholder="Your message..."></textarea>
                    </li>
                </ul>
                <div class="align_center">
                    <button class="button type1">
                        <span>
                            <span>Send now</span><span>Send now</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



@code {

}
