    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

<footer id="footer">
    <div class="container">
        <div class="footer_wrap">
            <div class="row">
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget_title">about us</h5>
                        <p>
                            Lorem ipsum dolor sit amet, con adipiscing elit.
                            Aienean ac ilobor eu lobortis risus.
                        </p>

                        <p>
                            Nunc bibendumi eros iac dui dig eget accumsan
                            magna tristique.
                        </p>

                        <a href="#" class="button type1">
                            <span>
                                <span>buy theme</span><span>buy theme</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget_title">Latest News</h5>
                        <div class="list_with_image">
                            <ul>
                                <li class="clearfix">
                                    <figure>
                                        <img src="images/96x96_img1.jpg"
                                             alt="" />
                                    </figure>
                                    <a href="#">Get this work done & make a good job</a>
                                    <p>July 28, 2015</p>
                                </li>
                                <li class="clearfix">
                                    <figure>
                                        <img src="images/96x96_img2.jpg"
                                             alt="" />
                                    </figure>
                                    <a href="#">Handymen for all of you guys</a>
                                    <p>July 27, 2015</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget">
                        <h5 class="widget_title">join us on facebook</h5>
                        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ffantemplates&amp;width=260&amp;height=150&amp;colorscheme=dark&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=438889712801266"
                                style="
                                 border: none;
                                 overflow: hidden;
                                 width: 100%;
                                 height: 180px;
                              "></iframe>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="widget contact">
                        <h5 class="widget_title">newsletter</h5>
                        <p>Relevant. Low Frequency. Informative.</p>
                        <form id="newsletter" class="contact_form">
                            <input class="now"
                                   type="email"
                                   placeholder="Email here"
                                   name="newsletter-email" />
                            <button type="submit"
                                    class="btn-email"
                                    data-type="submit"></button>
                        </form>

                        <h5 class="widget_title">follow us</h5>
                        <div class="social_icon_list var2">
                            <ul>
                                <li>
                                    <a href="#"
                                       class="soc_icon icon_facebook"></a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="soc_icon icon_twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="soc_icon icon_mail"></a>
                                </li>
                                <li>
                                    <a href="#"
                                       class="soc_icon icon_instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- - - - - - - - - - - - - Bottom Footer - - - - - - - - - - - - - - - -->

    <div class="bottom-footer">
        <div class="container">
            <p>© 2016 Helpmate - Made With Pasion!</p>
        </div>
    </div>
</footer>

<!-- - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->