

<div class="page_404">
    <div class="container">

        <div class="section_404">
            <h1>404</h1>
            <div class="section_404_inner">
                <h2 class="main_title">Error 404 Page</h2>
                <p style="font-size: 15px;font-weight: bold;">This Page Could Not Be Found :(</p>
            </div>
        </div>

    </div>
</div>

@code {

}
