<div class="container" style="background: white; max-width: 100%; width: 100%; ">
    @*<h2>Contact Us</h2>*@
    <div class="row">



        <div class="col-sm-12">
            <br />
            <h3 style="font-size: 25px; font-weight: bold;">
                ¿Uso de Find Service?
            </h3>

            <p class="estiloParrafo">
                Para Usar Find Service en su totalidad, debe de completar lo que parte
                de nuestro contrato. Debe completar los requerimientos basicos son los siguientes:

                <br /><br />
                -Datos Generales,
                <br />
                -Referencia,
                <br />
                -Firma,
                <br />
                -Contrato
                <br />
                -Plan de Servicios
                <br />
                <br />
                Datos requeridos para poder hacer uso de Find Service
            </p>

             

             
            @*<p class="estiloParrafo">En caso de estar interesado empecemos rellenando los datos generales:</p>*@

            <p class="estiloParrafo" style="color:#4e82b1">

                En caso de requerir ayuda no dudes en contactarnos por  whatsapp
                <a target="_blank" href="https://api.whatsapp.com/send?phone=50496668773&text=Necesito%20ayuda%20en%20el%20registro%20web">
                    <b>(504) 9666-8773 (click aqui)</b>.
                </a>
            </p>

        </div>
    </div>
</div>

@code {

}
